<%# page_title 'Browsing repository' %>

<div id="content">

<div class="breadcrumbs"><%#= path_breadcrumbs(params[:path]) %></div>

<%# #TODO:  styyyyyle me: %>
<div id="filter-selector">
  <dl>
    <dt>Revision:</dt>
    <dd><%= link_to @node.revision, project_changeset_path(@project, @node.revision) %></dd>
  </dl>
  <dl>
    <dt>Log:</dt> 
    <dd><%= format_and_make_links(@node.log) %></dd>
  </dl>
  <dl>
    <dt>Author:</dt>
    <dd><%= @node.author %></dd>
  </dl>
  <dl>
    <dt>Date:</dt> 
    <dd><%= @node.date %></dd>
  </dl>
  <% unless @node.proplist.empty? %>
  <dl>
    <dt>Properties:</dt> 
  <% @node.proplist.each do |name, value| %>
    <dd>Property <%= name %> is set <%= value.empty? ? '' : "to #{value}" %></dd>
  <% end %>
  </dl>
  <% end %>
</div>

<table id="browser" class="listing">
 <thead>
  <tr>
    <th class="name">Name</th>
    <th class="age">Age</th>
    <th class="size">Size</th>
    <th class="rev">Rev.</th>
    <th class="msg">Last commit message</th>
  </tr>
 </thead>
 <tbody>
  <%# unless params[:path].empty? %>
  <% unless true %>
  <tr class="parent">
  <%# paths = params[:path]; paths.pop %>
    <td class="name parent"><%#= link_to '..', :path => paths %></td>
    <td class="age"></td>
    <td class="size"></td>
    <td class="rev"></td>
    <td class="msg"></td>
  </tr>
  <% end %>
  <% @nodes.each do |node| %>
  
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="name <%= node.dir? ? 'dir' : 'file' %>"><%= link_to node.name, node_path(:project_id => @project, :path => node.path.gsub(/^\//, '')) %></td>
    <td class="age"><%= distance_of_time_in_words(node.date, Time.now) %></td>
    <td class="size"><%= node.file? ? number_to_human_size(node.size) : "#{node.entries.size} files"  %></td>
    <td class="rev"><%= link_to node.revision, project_changeset_path(@project, node.revision)%></td>
    <td class="msg">[<%= node.author %>] <%= truncate(h(node.log), 50) %> </td>
  </tr>
  <% end %>
 </tbody>
</table>

<!--<div class="rev-chooser">
  <%# form_tag({:action => 'browse', :path => params[:path]}, :method => 'get') do %>
    <p>Revision: <input id="rev" name="rev" type="text" value="<%#= @rev %>" /></p>
  <%# end %>
</div>-->

</div>
