<div class="actions">
  <p><a href='#' id='filter-toggle'>Filter tickets</a></p>
</div>
<div id="filter-selector" class="clearfix <%= @filter_conditions.default? ? 'closed' : 'open' %>">
	<%= filter_selector('Status', @statuses) %>
	<%= filter_selector('Priority', @priorities) %>
	<%= filter_selector('Milestone', @milestones) %>
	<%= filter_selector('Component', @components) %>
  <%= filter_selector('Assignment', @users) %>
</div>
