<% page_title 'Tickets' %>

<div id="content">
<h1>Tickets</h1>
<%= render :partial => 'filter_bar' %>

<table class="listing" id="tickets"> 
<thead>
  <tr>
    <%= sort_header('Ticket', :sort_key => 'id', :class => 'number') %>
    <%= sort_header('Summary', :class => 'text ticket-summary') %>
    <%= sort_header('Status', :class => 'text') %>
    <%= sort_header('Priority', :class => 'text') %>
    <%= sort_header('Component', :class => 'text') %>
    <%= sort_header('Milestone', :class => 'text') %>
    <%= sort_header('Release', :class => 'text') %>
    <%= sort_header('Created', :sork_key => 'created_at', :class => 'text') %>
    <%= sort_header('Assigned', :class => 'text') %>
  </tr>
</thead>
<tbody>
<% @tickets.each do |ticket| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="ticket-number"><%= link_to "##{ticket.id}", :action => 'show', :id => ticket.id %></td>
    <td class="ticket-summary"><%= link_to h(ticket.summary), :action => 'show', :id => ticket.id  %></td>
    <td class="ticket-status"><%= ticket.status.name %></td>
    <td class="ticket-priority"><%= ticket.priority.name unless ticket.priority.nil? %></td>
    <td class="ticket-component"><%= ticket.component.name unless ticket.component.nil? %></td>
    <td class="ticket-milestone"><%= ticket.milestone.name unless ticket.milestone.nil? %></td>
    <td class="ticket-release"><%= ticket.release.name unless ticket.release.nil? %></td>
    <td class="ticket-created"><%= ticket.created_at.strftime("%d/%m/%Y") %></td>
		<td class="ticket-assigned-to"><%= ticket.assigned_user.login unless ticket.assigned_user.nil? %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>