<% page_title 'New ticket' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Tickets', project_tickets_path(@project) %></li>
      <li>&#187 New Ticket</li>
    </ul>
  </div>

  <%= error_messages_for 'ticket' %>
  
  <% form_for @ticket, :url => project_tickets_path(@project), :html => {:id => 'ticket_form'} do |f| %>
  <fieldset>
    <legend>Create a new ticket</legend>
    <div class="clearfix">
      <div class="half_width">
        <label class="first">Name or Email:
        <%= current_user_author_field %>
        </label>
        <label>Summary: 
        <%= f.text_field 'summary' %></label>
        <label>Description: <span class="note">(<%= link_to "Textile", "http://hobix.com/textile/", :popup => true %> and &lt;pre&gt;  allowed)</span>
        <%= f.text_area 'content' %></label>
      </div>
      <div id="preview" class="half_width"></div>
    </div>
    <div id="ticket-attributes">
      <%= render :partial => 'ticket_attributes' %>
    </div>    
    </fieldset>
    
    <%= submit_tag "File new ticket", :class => "submit" %>
    
  <% end %>
</div>
