<% page_title "Showing changeset #{@changeset.revision}" %>

<div id="content">
<div class="breadcrumbs">
  <ul>
    <li><%= link_to 'Changesets', project_changesets_path(@project) %></li>
    <li>&#187; Changeset <%= @changeset.revision %></li>
  </ul>
</div>

  <h1>Changeset <%= @changeset.revision %></h1>
  <div class="log"><%= format_and_make_links(@changeset.log) %></div>
  <ul class="changes">
    <li><strong>Author:</strong> <%= @changeset.author %></li>
    <li><strong>Date:</strong> <%= @changeset.revised_at.strftime('%A %B %d %H:%M:%S %Y') %> 
    (<%= distance_of_time_in_words(@changeset.revised_at, Time.now) %> ago)</li>
  </ul>

<% if current_user.has_permission_to?(:view_repository, :for => @project) %>
  <h2>Affected files:</h2>
  <ul class="changes">
    <%= render :partial => 'change', :collection => @changeset.changes %>
  </ul>

  <% @diffable_changes.each do |change| %>
    <a name="<%= change.path %>"></a>
    <h3><%= change.path %>:</h3>
    <%= render_diff(change.unified_diff) %>
  <% end %>
<% end %>

</div>
